*{
margin:0;
}

header {
  height: 4rem;
  background-color:beige;
  color:#033048;
  padding-top: 1rem;
  padding-left: 10em;
  display: flex;
}

body {
  font-family: 'Dosis', sans-serif;
}


nav ul li {
  display: inline-block;
  align-content: flex-end;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem;
  color: mediumvioletred;
}

/*nav a {
  text-decoration: none;
  font-weight: bold;
  color: gold;
  background-color: royalblue;
}
nav a:focus,
nav a:hover,
nav a:active {
  color: royalblue;
  background-color: gold;
}*/

h2 {
  color: white;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.menu-items {
  justify-content: flex-end;
}

.underHeader1 {
    background-image: url("../img/leoni_camera.JPG");
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}
.underHeader2 {
    background-image: url("../img/leoni and ukulele.JPG");
  background-repeat: no-repeat;
  height: 100vh;
  /*background-size: cover;*/
  background-attachment: fixed;
  background-position: center 30%;
}

.underHeader3 {
    background-image: url("../img/sunset.jpg");
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

.myself {
  width: 10rem;
 height: 10rem;
 margin:0;
 padding: 4rem;
 background-color: rgba(0,0,0, 0.5);
 text-align: center;
 font-weight: lighter;
 position: fixed;
}

.bottomBanner {
  background-color: oldlace;
  height: auto;
  /*display: block;
  justify-content: center;*/
  /*background-size: cover;*/
  /*background-attachment: fixed;*/
  /*width: 100%; */
}

.footerText {
  font-size: 40px;
  padding: 50px;
  padding-left: 100px;
  color: purple;
}
